/* li{
    display:block;
} */
/* .fixed{
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    border: 2px solid red;
} */
/* .relative
{
    position: relative;
    width: 400px;
    height: 300px;
    border: 2px solid red;
}
.absolute{
    position: absolute;
    top: 150px;
    left: 20px;
    width: 200px;
    min-height: 150px;
    border: 2px solid green;
}
.sticky
{
    position:sticky;
    top: 0;
    padding: 10px;
    background-color: mediumorchid;
    border: 2px solid yellow;
} */
h1{
    color: white;
    text-align: center;
}
img{
    position:absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.first{
    position: absolute;
}
.first img{
    width: 300px;
    height: 300px;
    border-radius: 400px;
    top: 90px;
    z-index: 0;
    border: 5px solid yellow;
    /* padding: 30px; */
    margin-left:500px ;
}