.frist
{
    background-color: aqua;
}
#second{
background-color: rgb(99, 61, 5);
color: white;
font-size: 50px;
}
.thrid{
    background-color: burlywood;
}
#fourth{
    background-color: blue;
}
.fifth{
    background-color: cadetblue;
}
table,th,td{
    border: 2px solid black;
    /* border-collapse: collapse; */
}
td,th{
    background-color: rgb(227, 95, 95);
    border-radius: 10px;
    border-style: dotted;
    border-color:rgb(47, 47, 226) ;
}
table{
border-radius: 10px;
border-style: dashed;
}
